<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
<div class="container" style="width 80%">
<h1>Пользователи</h1>
    <form th:action="@{/users/add}" th:object="${userAdd}" th:method="post" name="addUser">
        <div class="form-row">
            <div class="form-group col-md-2">
                <label for="name">Имя</label>
                <input type="text" class="form-control" id="name" placeholder="Имя пользователя" name="name" th:value="${userAdd.name}">
            </div>
            <div class="form-group col-md-2">
                <label for="password">Пароль</label>
                <input type="password" class="form-control" id="password" placeholder="Пароль" name="password" th:value="${userAdd.password}">
            </div>
            <div class="form-group col-md-2">
                <label for="age">Возраст</label>
                <input type="text" class="form-control" id="age" placeholder="Возраст" name="age" th:value="${userAdd.age}">
            </div>
            <div class="form-group col-md-3">
                <label for="addressString">Адрес</label>
                <input type="text" class="form-control" id="addressString" placeholder="Адрес" name="addressString" th:value="${userAdd.addressString}">
            </div>
            <div class="form-group col-md-3">
                <label for="phonesString">Телефоны</label>
                <input type="text" class="form-control" id="phonesString" placeholder="Телефоны" name="phonesString" th:value="${userAdd.phonesString}">
            </div>

        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
    <table class="table" id="tableUsers"/>
    <thead>
    <tr>
        <th scope="col">Имя</th>
        <th scope="col">Возраст</th>
        <th scope="col">Адрес</th>
        <th scope="col">Телефоны</th>
    </tr>
    </thead>
    <tbody th:each="user : ${users}">
    <tr>
        <td th:text="${user.name}">John Doe</td>
        <td th:text="${user.age}">25</td>
        <td th:text="${user.addressString}">Kirova</td>
        <td th:text="${user.phonesString}">+79112221234</td>
    </tr>
    </tbody>
    </table>

</div>
</body>
</html>